@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #CED4DF;
}
.container {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login{
      width: 400px;  
}
form{
    width: 250px;
    margin: 60px auto;
}
h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
hr{
    border-top: #CED4DF;
}
form label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(137,152,191);
}
button:hover{
    background: #CED4DF;
    
}
.logout {
    background-color: rgb(137, 152, 191);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .logout:hover {
    background-color: #CED4DF;
  }



.logo {
    float: left;
    margin-left: 23px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #8998BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 10px;
}

.navbar li a {
    display: block;
    color: rgb(137, 152, 191);
    padding: 10px;
    text-decoration: none;
    color: inherit;
}


h1 {
    text-align: center;
    margin-top: 50px;
}
