@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #CED4DF;
}

.container {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

form {
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CED4DF;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background: #8998BF;
  border: none;
}

button:hover {
  background: #CED4DF;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.container a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #8998BF;
  font-size: 14px;
}
